include ../control-button/control-button
mixin dropdown({withControlButtons = true, first = {id: "adults", count: 0, title: "взрослые"}, second = {id: "children", count: 0, title: "дети"}, third = {id: "babies", count: 0, title: "младенцы"}} = {})
  -
    const withControl = withControlButtons ? "true" : "false"
  div(class="iqdropdown js-iqdropdown", data-withControlButtons=withControl)
    p.iqdropdown-selection
      .iqdropdown-menu.js-iqdropdown-menu
        div(class='iqdropdown-menu-option', data-id=first.id, data-defaultcount=first.count)
          .dropdown__adults
            p.iqdropdown-item #{first.title}
        div(class='iqdropdown-menu-option', data-id=second.id, data-defaultcount=second.count)
          .dropdown__children
            p.iqdropdown-item #{second.title}
        div(class='iqdropdown-menu-option', data-id=third.id, data-defaultcount=third.count)
          .dropdown__babies
            p.iqdropdown-item #{third.title}
        if(withControlButtons)
          .dropdown__buttons
            +control-button({isApply: false})
            +control-button()
