include ../control-button/control-button
mixin dropdown({withControlButtons = true, defaultOutText = 'Сколько гостей', maxTextBlocks = 2, menu = [ {id: 'adults', outTextSingle: 'гость', outTextFew: 'гостя', outTextMany: 'гостей', count: 0, countGroup: 'guests', title: 'взрослые'}, {id: 'children', outTextSingle: 'гость', outTextFew: 'гостя', outTextMany: 'гостей', count: 0, countGroup: 'guests', title: 'дети'}, {id: 'babies', outTextSingle: 'младенец', outTextFew: 'младенца', outTextMany: 'младенцев', count: 0, countGroup: 'babies', title: 'младенцы'} ]} = {})
  -
    const withControl = withControlButtons ? 'true' : 'false'
  .dropdown
    div(class='iqdropdown js-iqdropdown', data-with-control-buttons=withControl, data-max-text-blocks=maxTextBlocks)
      p(class = 'iqdropdown-selection', data-default-out-text=defaultOutText)
        .iqdropdown-menu.js-iqdropdown-menu
          each line in menu
            div(class='iqdropdown-menu-option', data-id=line.id, data-defaultcount=line.count, 
            data-count-group=line.countGroup, 
            data-out-text-single=line.outTextSingle, 
            data-out-text-few=line.outTextFew, data-out-text-many=line.outTextMany)
              .dropdown__item
                p.iqdropdown-item #{line.title}
          if(withControlButtons)
            .dropdown__buttons
              +control-button({isApply: false})
              +control-button()
