include ../control-button/control-button
mixin dropdown( {type = 'guests', withControlButtons = true, defaultOutText = 'Сколько гостей',  menu = [ {id: 'adults', count: 0, countGroup: 'guests', title: 'взрослые'}, {id: 'children', outTextSingle: 'гость', count: 0, countGroup: 'guests', title: 'дети'}, {id: 'babies', count: 0, countGroup: 'babies', title: 'младенцы'} ] } = {})
  -
    const withControl = withControlButtons ? 'true' : 'false'
  div(class='dropdown js-dropdown iqdropdown',
      data-with-control-buttons=withControl,
      data-type=type)
    p.dropdown__selection.iqdropdown-selection
      .dropdown__menu.iqdropdown-menu
        each line in menu
          -
            const { id, count, countGroup, title } = line;
          div(class='dropdown__menu-option js-dropdown__menu-option iqdropdown-menu-option',
              data-id=id,
              data-defaultcount=count,
              data-count-group=countGroup)
            .dropdown__item.iqdropdown-content
              p.dropdown__item-text.iqdropdown-item #{title}
        if(withControlButtons)
          .dropdown__buttons
            +control-button({isApply: false})
            +control-button()
