mixin cBlock (mod, text, hexColor)
    -
        var cellClassName = "colors__cell colors__cell_"
        cellClassName += mod
        var textClassName = "colors__text"
        var text_regClassName = textClassName
        text_regClassName += "_regular"
    .colors__block
        div(class = cellClassName)
        p(class = textClassName) #{text}
            <br>
            span(class = text_regClassName)= hexColor

mixin tBlock (mod, text)
    -
        var titleClassName = "type__title type__title_"
        titleClassName += mod
        var lineClassName = "type__line "
        lineClassName += mod
    .type__block
        span(class = titleClassName) #{mod}
        case mod
            when "h1"
                h1(class = lineClassName) #{text}
            when "h2"
                h2(class = lineClassName) #{text}
            when "h3"
                h3(class = lineClassName) #{text}
            when "body"
                p(class = lineClassName) #{text}
            default
                p somthing wrong

//- mixin base(title, css, js)
include ../../_components/_base/_pug/_base
//- 
//- mixin logo
include ../../_components/_base/_pug/_logo
doctype html
html
    +base("Colors & Types", "colorsTypes.css", "colors-types.js")
    body
        .logo
            +logo(false)    
    
        .container
                .colors
                    +cBlock("DarkShade100", "dark shade 100%", "#1F2041")
                    +cBlock("DarkShade075", "dark shade 75%", "#1F2041")
                    +cBlock("DarkShade050", "dark shade 50%", "#1F2041")
                    +cBlock("DarkShade025", "dark shade 25%", "#1F2041")
                    +cBlock("DarkShade005", "dark shade 5%", "#1F2041")
                    +cBlock("Purple", "purple", "#BC9CFF")
                    +cBlock("Green", "green", "#6FCF97")
                .type
                    +tBlock("h1", "This one is the sub-section or widget title")
                    +tBlock("h2", "Next one is the item title inside widgets")
                    +tBlock("h3", "This is a label or CTA text")
                    +tBlock("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")