include ../../_form-elements/_buttons/rate/rate

mixin appart(options)
  -
    let slides = ["", "", "", ""]
    for( let i = 0; i < slides.length; i++ )
      slides[i] = "img/apparts/" + options.appart + "/img-" + options.appart + "-" + (i+1) + ".jpg"
  .appart
    .appart--slider.js-appart--slider
      each val in slides
        div
          img(src=val, alt=options.appart)
    .appart--text
      .appart--header
        div
          h1
            span № 
            | #{options.appart}
            if options.isLux
              h3  люкс
        span
          b.js-appart--price #{options.price}₽ 
          | в сутки
      .appart--hrow
      .appart--rate
        div
          +rate({rate: options.rate})
        div
          -
            let isNullReviews = options.reviews === 0 || options.reviews === undefined
            let isFrom2to4Reviews = options.reviews > 1 && options.reviews < 5
          if(isNullReviews)
            span
              b 0 
              | Отзывов
          if(options.reviews === 1)
            span
              b 1 
              | Отзыв
          if(isFrom2to4Reviews)
            span
              b #{options.reviews} 
              | Отзыва
          if(options.reviews >= 5)
              span
              b #{options.reviews} 
              | Отзывов
//-     .apart--textBlock    
//-       .apart--header
//-         div
//-           h1="№ "
//-           h1=options.apartNumber
//-           if options.isLux
//-               h3 люкс
//-         span
//-           b(id="apart--price-" + options.apartNumber)= options.price
//-           b="₽ "
//-           | в сутки
//-       .apart--hr
//-       .apart--rating
//-         div
//-           +rateButton(options.apartNumber, options.rating)
//-         div
//-           if(options.reviews == 0 || options.reviews == undefined)
//-             b="0"
//-             span= " Отзывов"
//-           if(options.reviews == 1)
//-             b= options.reviews
//-             span= " Отзыв"
//-           if(options.reviews > 1 && options.reviews < 5)
//-             b= options.reviews
//-             span= " Отзыва"
//-           if(options.reviews >= 5)
//-             b= options.reviews
//-             span= " Отзывов"

//- options:
//-     apartNumber
//-     isLux
//-     price
//-     rating
//-     reviews
//- include ../../_formElements/_buttons/_rate/_buttons_rate

//- mixin apart(options)
//-   -
//-     var slides = ["","","",""]
//-     for(var i=1; i<=slides.length; i++)
//-       slides[i-1] = "img/" + options.apartNumber + "/img-" + options.apartNumber + "-" + i + ".jpg"
//-   .apart--container
//-     .apart--slider
//-       each val in slides
//-         div
//-           img(src=val)