include ../../_form-elements/_buttons/rate/rate

mixin appart(options)
  -
    let slides = ["", "", "", ""]
    for( let i = 0; i < slides.length; i++ )
      slides[i] = `img/apparts/${options.appart}/img-${options.appart}-${(i+1)}.jpg`
  .appart
    .appart--slider.js-appart--slider
      each val in slides
        div
          img(src=val, alt=options.appart)
    .appart--text
      .appart--header
        div
          h1
            span № 
            | #{options.appart}
            if options.isLux
              h3  люкс
        span
          b.js-appart--price #{options.price}₽ 
          | в сутки
      .appart--hrow
      .appart--rate
        div
          +rate({rate: options.rate})
        div
          -
            let isNullReviews = options.reviews === 0 || options.reviews === undefined
            let isFrom2to4Reviews = options.reviews > 1 && options.reviews < 5
          if(isNullReviews)
            span
              b 0 
              | Отзывов
          if(options.reviews === 1)
            span
              b 1 
              | Отзыв
          if(isFrom2to4Reviews)
            span
              b #{options.reviews} 
              | Отзыва
          if(options.reviews >= 5)
              span
              b #{options.reviews} 
              | Отзывов