include ../../_form-elements/_buttons/rate/rate

mixin appart({apart = "888", isLux = true, price = "9990", reviews = 145} = {})
  -
    let slides = ["", "", "", ""]
    for( let i = 0; i < slides.length; i++ )
      slides[i] = `img/img-${apart}-${(i+1)}.jpg`
  .appart
    .appart--slider.js-appart--slider
      each val in slides
        div
          img(src=val, alt=apart)
    .appart--text
      .appart--header
        div
          h1
            span № 
            | #{apart}
            if isLux
              h3  люкс
        span
          b.js-appart--price #{price}₽ 
          | в сутки
      .appart--hrow
      .appart--rate
        div
          +rate({rate: rate})
        div
          -
            let isNullReviews = reviews === 0
            let isFrom2to4Reviews = reviews > 1 && reviews < 5
          if(isNullReviews)
            span
              b 0 
              | Отзывов
          if(reviews === 1)
            span
              b 1 
              | Отзыв
          if(isFrom2to4Reviews)
            span
              b #{reviews} 
              | Отзыва
          if(reviews >= 5)
              span
              b #{reviews} 
              | Отзывов