mixin cBlock (mod, text, hexColor)
  -
    var cellClassName = "colors--cell colors--cell-"
    cellClassName += mod
    var textClassName = "colors--text"
    var textRegClassName = textClassName
    textRegClassName += "-regular"
  .colors--block
    div(class = cellClassName)
    p(class = textClassName) #{text}
      <br>
      span(class = textRegClassName) #{hexColor}

mixin tBlock (mod, text)
  -
    var titleClassName = "type--title type--title-"
    titleClassName += mod
  .type--block
    span(class = titleClassName) #{mod}
    case mod
      when "h1"
        h1 #{text}
      when "h2"
        h2 #{text}
      when "h3"
        h3 #{text}
      when "body"
        p #{text}
      default
        p somthing wrong

//- mixin head(title, css, js)
include ../../components/_base/pug/head
//- mixin logo
include ../../components/_base/pug/logo
doctype html
html
  +head("Colors & Types", "colors-and-types.css", "colors-and-types.js")
  body
    .logo
      +logo(false)    

    .container
      .colors
        +cBlock("dark-shade-100", "dark shade 100%", "#1F2041")
        +cBlock("dark-shade-75", "dark shade 75%", "#1F2041")
        +cBlock("dark-shade-50", "dark shade 50%", "#1F2041")
        +cBlock("dark-shade-25", "dark shade 25%", "#1F2041")
        +cBlock("dark-shade-5", "dark shade 5%", "#1F2041")
        +cBlock("purple", "purple", "#BC9CFF")
        +cBlock("green", "green", "#6FCF97")
      .type
        +tBlock("h1", "This one is the sub-section or widget title")
        +tBlock("h2", "Next one is the item title inside widgets")
        +tBlock("h3", "This is a label or CTA text")
        +tBlock("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")