mixin cBlock (mod, text, hexColor)
  .colors-and-type__colors-block
    div(class = `colors-and-type__colors-cell colors-and-type__colors-cell_${mod}`)
    p(class = "colors-and-type__colors-text") #{text}
      <br>
      span(class = `colors-and-type__colors-text_regular`) #{hexColor}

mixin tBlock (mod, text)
  .colors-and-type__type-block
    span(class = `colors-and-type__type-title colors-and-type__type-title_${mod}`) #{mod}
    case mod
      when "h1"
        h1.h1 #{text}
      when "h2"
        h2.h2 #{text}
      when "h3"
        h3.h3 #{text}
      when "body"
        p #{text}
      default
        p somthing wrong

//- mixin head(title, css, js)
include ../../components/head/head
//- mixin logo
include ../../components/logo/logo
doctype html
html
  +head({title: "Colors & Types", isProduction: true})
  body.body
    .logo
      +logo()

    .colors-and-type__container
      .colors-and-type__colors
        +cBlock("dark-shade-100", "dark shade 100%", "#1F2041")
        +cBlock("dark-shade-75", "dark shade 75%", "#1F2041")
        +cBlock("dark-shade-50", "dark shade 50%", "#1F2041")
        +cBlock("dark-shade-25", "dark shade 25%", "#1F2041")
        +cBlock("dark-shade-5", "dark shade 5%", "#1F2041")
        +cBlock("purple", "purple", "#BC9CFF")
        +cBlock("green", "green", "#6FCF97")
      .colors-and-type__type
        +tBlock("h1", "This one is the sub-section or widget title")
        +tBlock("h2", "Next one is the item title inside widgets")
        +tBlock("h3", "This is a label or CTA text")
        +tBlock("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")