mixin social-link({socialNetwork = 'tweeter'} = {})
  -
    const classDefault = 'social-link'
    const socialNets = {
      'tweeter': {
        hrefIcon: 'https://twitter.com/',
        classIcon: `${classDefault} ${classDefault}-${socialNetwork}`
      },
      'facebook': {
        hrefIcon: 'https://www.facebook.com/',
        classIcon: `${classDefault} ${classDefault}-${socialNetwork}`
      },
      'instagram': {
        hrefIcon: 'https://www.instagram.com/',
        classIcon: `${classDefault} ${classDefault}-${socialNetwork}`
      },
    }
    const { hrefIcon, classIcon } = socialNets[socialNetwork]
  a(href = hrefIcon, class = classIcon)