include ../_buttons/like/like
mixin review({login="user-1", likeCount=0, isLicked=false, name="change me", timeAgo="менее часа назад", review="change me"} = {})
  -
    let pict = `./img/users-avatars/${login}.png`
  .review--container
    .review--leftColumn
      .review--pict
        img(src=pict, alt=name)
      +like({counter: likeCount, isChecked: isLiked})
    .review--rightColumn
      span(class="review--name") #{name}
      br
      span(class="review--daysAgo") #{timeAgo}
      br
      p(class="review--text") #{review}