include ../like/like
mixin review({login="user-1", likeCount=0, isLicked=false, name="change me", timeAgo="менее часа назад", review="change me"} = {})
  .review__container
    .review__leftColumn
      .review__pict
        img(class = "review__img", src=`img/${login}.png`, alt=name)
      +like({counter: likeCount, isChecked: isLiked})
    .review__rightColumn
      p.review__name #{name}
      p.review__daysAgo #{timeAgo}
      p.review__text #{review}