include ../like/like
mixin review({login="user-1", likeCount=0, isLicked=false, name="change me", timeAgo="менее часа назад", review="change me"} = {})
  .review__container
    .review__leftColumn
      .review__pict
        img(class = "review__img", src=`img/${login}.png`, alt=name)
      +like({counter: likeCount, isChecked: isLiked})
    .review__rightColumn
      span(class="review__name") #{name}
      br
      span(class="review__daysAgo") #{timeAgo}
      br
      p(class="review__text") #{review}