include ../_buttons/like/like
mixin review(options)
  -
    var pict = "./img/users-avatars/" + options.login + ".png"
  .review--container
    .review--leftColumn
      .review--pict
        img(src=pict, alt=options.name)
      +like({counter: options.likeCount, isChecked: options.isLiked})
    .review--rightColumn
      span(class="review--name") #{options.name}
      br
      span(class="review--daysAgo") #{options.timeAgo}
      br
      p(class="review--text") #{options.review}