include ../headline/headline
include ../rate/rate

mixin apartament({apartament = "888", isLux = true, price = "9990", rate = 5, reviews = 145 } = {})
  -
    const slides = ["", "", "", ""].map( (slide, index) => {
      return `img/img-${apartament}-${(index + 1)}.jpg`
    })
  .apartament
    .apartament__slider.js-apartament__slider
      each val, i in slides
        .apartament__slider-image
          img(src=val, alt=`apartament-${i+1}`)
    .apartament__text
      .apartament__header
        .apartament__header-title
          h1.apartament__header-title-text
            span.apartament__header-number № 
            | #{apartament}
            if isLux
              +headline({title: " люкс"})
        span.apartament__price-line
          span.apartament__price.js-apartament__price #{price}₽ 
          | в сутки
      .apartament__horizontal-line
      .apartament__rate
        .apartament__rate-stars
          +rate({rate: rate})
        .apartament__rate-text-block
          -
            const isNullReviews = reviews === 0
            const isFromTwotoFourReviews = reviews > 1 && reviews < 5
          if(isNullReviews)
            span
              span.apartament__rate-text.apartament__rate-text_bold 0 
              | Отзывов
          if(reviews === 1)
            span.apartament__rate-text.apartament__rate-text_bold 1 
            | Отзыв
          if(isFromTwotoFourReviews)
            span.apartament__rate-text.apartament__rate-text_bold #{reviews} 
            | Отзыва
          if(reviews >= 5)
            span.apartament__rate-text.apartament__rate-text_bold #{reviews} 
            | Отзывов