include ../_base/_pug/_logo
include _social
include ../_formElements/_textField/_subscribtionTextField/_subscribtionTextField
//-  isShort: true or false
//-  description: "string"
//-  navigation, aboutUs support: {
//-                 title: "string"
//-                 links: ["1", "2", "3", "4"] 
//- }
//-  subscribe: {
//-                 title: "string"
//-                 description: "string"
//-                 placeholder: "string"
//- }
//- copyright: "string"
mixin vMenu(options)
    h3=options.title
    each val in options.links
        a(href="#", class="footer__link")=val
mixin footer(options)
    if options.isShort
        footer
            .footer__container_short 
                .footer__logo_short
                    +logo(true)
                .footer__description_short
                    p #{options.description}
                .footer__social
                    +socialTwitter
                    +socialFacebook
                    +socialInstagram
    else
        footer
            .footer__container
                .footer__description
                    .footer__logo
                        +logo(true)
                    p #{options.description}
                .footer__menu
                    .footer__navigation
                        +vMenu({title: options.navigation.title, links: options.navigation.links})
                    .footer__aboutUs
                        +vMenu({title: options.aboutUs.title, links: options.aboutUs.links})
                    .footer__support
                        +vMenu({title: options.support.title, links: options.support.links})
                    .footer__subscribe
                        h3= options.subscribe.title
                        p= options.subscribe.description
                        +SubscribtionTextField("_footer__subscribe", "_footer__subscribeButton", options.subscribe.placeholder)
            .footer__copyright
                p= options.copyright
                .footer__social
                    +socialTwitter
                    +socialFacebook
                    +socialInstagram

