//- size: small, medium, big
//- theme:  for {size: small}: isGray (true) - gray color, else purple
//-         for {size: medium}: gradient, border
//- isOpacity: true - add button-opacity class for medium size
//- title: whatever
mixin button({size = "big", theme = "gradient", type = "button", title = "click me", isGray = false, jsClass = "undefined", href = "undefined", isOpacity = false } = {})
  -
    let isLink = href === "undefined" ? false : true
    let className = ""
    if(jsClass === "undefined")
      className = `button button_${size}`
    else
      className = `button js-${jsClass}-button button_${size}`
    if(size === "medium")
      className += ` button_${theme}`
      if(isOpacity)
        className += " button_opacity"
    if(size === "small")
      className += isGray ? " button_gray" : " button_purple"

  if isLink
    form(action=href, taget="_blank")
      button(type="submit", class=className)
        h3.h3 #{title}
  else
    button(type=type, class=className)
      h3.h3 #{title}