mixin type-block ({mod = "h3", text = "This is a label or CTA text" } = {})
  .type-block
    span(class = `type-block__label-title type-block__label-title_${mod}`) #{mod}
    case mod
      when "h1"
        h1.type-block__title_h1 #{text}
      when "h2"
        h2.type-block__title_h2 #{text}
      when "h3"
        h3.type-block__title_h3 #{text}
      when "body"
        p.type-block__title_body #{text}
      default
        p somthing wrong