include ../headline/headline
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin booking({room = "888", isLux = true, price = "9990", discount = "2179", complementaryFee = 300, additionalFee = "0", action = "change me" } = {})
  -
    const isDiscounted = discount == 0 ? false : true

  form(class="booking js-booking", action=action)
    .booking__header
      .booking__header-room
        span.booking__header-number № 
        +headline({type: "h1", title: room})
        if isLux
          .booking__header-room-lux
            +headline({title: " люкс"})
      span.booking__header-price
        span.booking__header-price-text.booking__header-price-text_bold.js-booking__header-price-text #{price}
        span.booking__header-price-text.booking__header-price-text_bold ₽ 
        | в сутки
    .booking__arrival-departure
      +date-dropdown({isSingle: false, label: ["прибытие", "выезд"]})
    .booking__guests
      .booking__guests-text
        +headline({title: "гости"})
      +dropdown()
    .booking__calculation
      .booking__calculation-row
        p
          span.booking__price.js-booking__price #{price}
          span ₽ X 
          span.booking__daysIn.js-booking__daysIn 0 суток
        p
          span.booking__cost.js-booking__cost 0
          span ₽
      .booking__calculation-row
        .booking__calculation-text
          p.booking__description Сбор за услуги: 
            if isDiscounted
              span скидка 
              span.booking__discount.js-booking__discount #{discount}
              span ₽
          span.booking__exclamation
            span.booking__exclamation-symbol.booking__exclamation-symbol_bold i
        .booking__calculation-additional-fee
          span.booking__additional-fee.js-booking__additional-fee #{additionalFee}
          span ₽
      .booking__calculation-row
        .booking__calculation-text
          p.booking__description Сбор за дополнительные услуги
          span.booking__exclamation
            span.booking__exclamation-symbol.booking__exclamation-symbol_bold i
        .booking__calculation-complementary-fee
          span.booking__complementary-fee.js-booking__complementary-fee #{complementaryFee}
          span ₽
    .booking__total
      h2.booking__total-text Итого
      .booking__total-line.booking__total-line_dashed
      h2.booking__total-text.js-booking__total-text 0
      h2.booking__total-text ₽
    .booking__submit-button
      +button({style: "submit", title: "забронировать"})