include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin booking({apart = "888", isLux = true, price = "9990", discount = "2179", complementary = 300, additional = "0", action = "change me" } = {})
  -
    let isDiscounted = discount == 0 ? false : true

  form(class="booking js-booking", action=action)
    .booking__header
      .booking__header-apart
        span.booking__header-number № 
        h1.booking__header-apart-text #{apart}
        if isLux
          h3.booking__header-apart-lux люкс
      span.booking__header-price
        span.booking__header-price_bold.js-booking__price #{price}
        span.booking__header-price_bold ₽ 
        | в сутки
    .booking__arival-departure
      +date-dropdown({isSingle: false, label: ["прибытие", "выезд"]})
    .booking__guests
      h3.booking__guests-text гости
      +dropdown()
    .booking__calculation
      .booking__calculation-line
        p
          span.js-booking__price #{price}
          span ₽ X 
          span.js-booking__daysIn 0 суток
        span.js-booking__cost 0
          span ₽
      .booking__calculation-line
        .booking__calculation-text
          p.booking__description Сбор за услуги: 
            if isDiscounted
              span скидка 
              span.js-booking__discount #{discount}
              span ₽
          span.booking__exclamation
            span.booking__exclamation_bold i
        .booking__calculation-aditional
          span.js-booking__additional #{additional}
          span ₽
      .booking__calculation-line
        .booking__calculation-text
          p.booking__description Сбор за дополнительные услуги
          span.booking__exclamation
            span.booking__exclamation_bold i
        .booking__calculation-complementary
          span.js-booking__complementary #{complementary}
          span ₽
    .booking__total
      h2.booking__total-text Итого
      .booking__total-line_dashed
      h2.booking__total-text.js-booking__total 0
      h2.booking__total-text ₽
    .booking__submit-button
      +button({theme: "action", title: "забронировать", type: "submit"})