mixin rate({rate = 0} = {})
  -
    const stars = [5, 4, 3, 2, 1]
  .rate
    -
      const name = Math.floor(Math.random() * 10000) + Math.floor(Math.random() * 1000)
    each value in stars
      -
        const isRated = (rate == value)
        const id = Math.floor(Math.random() * 10000) + Math.floor(Math.random() * 1000)
      input(type="radio", class="rate__input", name=name, id=id, value=value, checked=isRated)
      label(for=id, class="rate__label", title=value) #{value} stars