include ../like/like
mixin comment({login='user-1', likeCount=0, isLicked=false, name='change me', timeAgo='менее часа назад', comment='change me'} = {})
  .comment
    .comment__container.comment__container_left
      .comment__pictures
        img(class = 'comment__img', src=`img/${login}.png`, alt=name)
      +like({counter: likeCount, isChecked: isLiked})
    .comment__container.comment__container_right
      p.comment__name #{name}
      p.comment__days-ago #{timeAgo}
      p.comment__text #{comment}