//- mixin base(title, css, js)
include ../../_components/_base/_pug/_base
//- 
//- mixin logo
include ../../_components/_base/_pug/_logo
doctype html
html
    +base("index", "index.css", "index.js")
    body
        .logo
            +logo(false)  
        .index__container
            .index__uiKit
                .index__item
                    a(href="colors-types.html")
                        h3="Colors & Types"
                .index__item
                    a(href="elements.html")
                        h3="Form Elements"
                .index__item
                    a(href="cards.html")
                        h3="Cards"
                .index__item
                    a(href="headers-footers.html")
                        h3="Headers & Footers"
            .index__websites
                .index__item
                    a(href="landing-page.html")
                        h3="Landing Page"
                .index__item
                    a(href="registration.html")
                        h3="registration"
                .index__item
                    a(href="sign-in.html")
                        h3="Sign-in"
                .index__item
                    a(href="room-detail.html")
                        h3="Room details"
                .index__item
                    a(href="search-room.html")
                        h3="Search-room"