//- size: small, medium, big
//- theme:  for {size: small}: isGray (true) - gray color, else purple
//-         for {size: medium}: gradient, border
//- isOpacity: true - add button-opacity class for medium size
//- title: whatever
mixin button(options)
  -
    let isLink = options.href === undefined ? false : true
    let type = options.type === undefined ? "button" : options.type
    let className = options.size == undefined ? "button button-big": "button button-" + options.size
    if(options.size === "medium")
      className += " button-" + options.theme
      if(options.isOpacity)
        className += " button-opacity"
    if(options.size === "small")
      className += options.isGray ? " button-gray" : " button-purple"

  if isLink
    button(type=type, class=className, href=href)
      h3 #{options.title}
  else
    button(type=type, class=className)
      h3 #{options.title}