include ../headline/headline
include ../rate/rate

mixin apart({apart = "888", isLux = true, price = "9990", rate = 5, reviews = 145 } = {})
  -
    let slides = ["", "", "", ""].map( (slide, index) => {
      return `img/img-${apart}-${(index + 1)}.jpg`
    })
  .apart
    .apart__slider.js-apart__slider
      each val, i in slides
        .apart__slider-image
          img(src=val, alt=`apart-${i+1}`)
    .apart__text
      .apart__header
        .apart__header-title
          h1.apart__header-title-text
            span.apart__header-number № 
            | #{apart}
            if isLux
              +headline({title: " люкс"})
        span.apart__price-line
          span.apart__price.js-apart__price #{price}₽ 
          | в сутки
      .apart__horizontal-line
      .apart__rate
        .apart__rate-stars
          +rate({rate: rate})
        .apart__rate-text-block
          -
            let isNullReviews = reviews === 0
            let isFromTwotoFourReviews = reviews > 1 && reviews < 5
          if(isNullReviews)
            span
              span.apart__rate-text.apart__rate-text_bold 0 
              | Отзывов
          if(reviews === 1)
            span.apart__rate-text.apart__rate-text_bold 1 
            | Отзыв
          if(isFromTwotoFourReviews)
            span.apart__rate-text.apart__rate-text_bold #{reviews} 
            | Отзыва
          if(reviews >= 5)
            span.apart__rate-text.apart__rate-text_bold #{reviews} 
            | Отзывов