//- total: number (total number of voices)
//- perfect: number (number of 5 stars voices)
//- good: number (number of 4 stars voices)
//- satisfact: number (number of 3 stars voices)
//- disappoint: number (number of 2 stars voices)
mixin piechart({perfect = 130, good = 65, satisfact = 65, disappoint = 0 } = {})
  -
    //- c for r = 55px
    let c55 = 345.6
    //- c for r = 58px
    let c58 = 364.4
    let total = perfect + good + satisfact + disappoint
    //- perentage
    let percent5 = perfect / total
    let percent4 = good / total
    let percent3 = satisfact / total
    let percent2 = disappoint / total
    //- dashForN:
    //-     0: number for Stroke-dasharray (first - stroke)
    //-     1: number for Stroke-dasharray (second - space)
    //-     2: number for stroke-dashoffset
    let dashFor5 = [0,0,272.8]
    dashFor5[0] = (c58 * percent5).toFixed(1)
    if(dashFor5[0] != 0)
        dashFor5[0] -= 2
        dashFor5[1] = (c58 - dashFor5[0]).toFixed(1)
    let dashFor4 = [0,0,0]
    dashFor4[0] = (c58 * percent4).toFixed(1)
    if(dashFor4[0] != 0)
        dashFor4[1] = (c58 - dashFor4[0]).toFixed(1)
        dashFor4[2] = (dashFor5[2] - dashFor5[0] - 1.5).toFixed(1)
    if(dashFor4[0] == 0)
            dashFor4[2] = dashFor5[2]
    let dashFor3 = [0,0,0]
    dashFor3[0] = (c58 * percent3).toFixed(1)
    if(dashFor3[0] != 0)
        dashFor3[0] -= 2
        dashFor3[1] = (c58 - dashFor3[0]).toFixed(1) 
        dashFor3[2] = (dashFor4[2] - dashFor4[0] - 1.5).toFixed(1)
    if(dashFor3[0] == 0)
        dashFor3[2] = dashFor4[2]
    let dashFor2 = [0,0,0]
    dashFor2[0] = (c58 * percent2).toFixed(1)
    if(dashFor2[0] != 0)
        dashFor2[0] -= 2
        dashFor2[1] = (c58 - dashFor2[0]).toFixed(1) 
        dashFor2[2] = (dashFor3[2] - dashFor3[0] - 1.5).toFixed(1)
    if(dashFor2[0] == 0)
        dashFor2[2] = dashFor3[2]
        
    let text
    if(total == 0 || total > 4)
        text = "голосов"
    if(total > 0 && total < 5)
        text = "голоса"
  .piechart
    svg(width="120", height="120", viewbox="0 0 120 120", fill="none")
      circle(cx="60", cy="60", r="59.5", fill="white")
      circle(cx="60", cy="60", r="58", stroke="url(#grad-5)", stroke-width="4", Stroke-dasharray=`${dashFor5[0]} ${dashFor5[1]}`, stroke-dashoffset=dashFor5[2])
      circle(cx="60", cy="60", r="58", stroke="url(#grad-4)", stroke-width="4", Stroke-dasharray=`${dashFor4[0]} ${dashFor4[1]}`, stroke-dashoffset=dashFor4[2])
      circle(cx="60", cy="60", r="58", stroke="url(#grad-3)", stroke-width="4", Stroke-dasharray=`${dashFor3[0]} ${dashFor3[1]}`, stroke-dashoffset=dashFor3[2])
      circle(cx="60", cy="60", r="58", stroke="url(#grad-2)", stroke-width="4", Stroke-dasharray=`${dashFor2[0]} ${dashFor2[1]}`, stroke-dashoffset=dashFor2[2])
      g( class="piechart__label")
        text(x="60", y="60", class="piechart__total") #{total}
        text(x="60", y="60", class="piechart__text") #{text}
      defs
        linearGradient(id="grad-5", x1="60", y1="0", x2="60", y2="120", gradientUnits="userSpaceOnUse")
          stop(stop-color="#FFE39C")
          stop(offset="1", stop-color="#FFBA9C")
        linearGradient(id="grad-4", x1="0", y1="0", x2="0", y2="120", gradientUnits="userSpaceOnUse")
          stop(stop-color="#BC9CFF")
          stop(offset="1", stop-color="#8BA4F9")
        linearGradient(id="grad-3", x1="0", y1="-120", x2="0", y2="120", gradientUnits="userSpaceOnUse")
          stop(stop-color="#66D2EA")
          stop(offset="1", stop-color="#6FCF97")
        linearGradient(id="grad-2", x1="0", y1="-120", x2="0", y2="120", gradientUnits="userSpaceOnUse")
          stop(stop-color="#919191")
          stop(offset="1", stop-color="#3D4975")
    .piechart__legend
      .piechart__legend-line
        .piechart__legend-circle.piechart__legend-circle_perfect
        p Великолепно
      .piechart__legend-line
        .piechart__legend-circle.piechart__legend-circle_good
        p Хорошо
      .piechart__legend-line
        .piechart__legend-circle.piechart__legend-circle_satisfact
        p Удовлетворительно
      .piechart__legend-line
        .piechart__legend-circle.piechart__legend-circle_disappoint
        p Разочарован
