-
  let popupItems = [{href: "change_me_1", title: "change_me_1"}]
  popupItems.push({href: "change_me_2", title: "change_me_2"})

mixin menu-link({type = "link", href = "change me", title = "change me", popup = popupItems } = {})

  case type
    when "link"
      a(href = href, class = "header--link") #{title}
    when "home"
      a(href = href, class = "header--link") 
        b #{title}
    when "popup"
      .header--link.header--link-popup #{title}
        .header--popup
          each val in popup
            +popup-link(val)
        span.header--arrow-down keyboard_arrow_down
    default
      a(href = href, class = "header--link") #{title}

mixin popup-link({href = "change me", title = "change me"} = {})
  a(href = href, class = "header--link") #{title}
  <br>