include ../_buttons/_like/_like
mixin review(options)
    -
        var pict = "./img/" + options.pict + ".png"
    .review__container
        .review__leftColumn
            .review__pict
                img(src=pict, alt=options.name)
            +like(options.likeCount, options.isLiked)
        .review__rightColumn
            span(class="review__name") #{options.name}
            br
            span(class="review__daysAgo") #{options.daysAgo}
            br
            p(class="review__text") #{options.review}