include ../logo/logo
include ../subscription-field/subscription-field
include ../footer-menu-block/footer-menu-block
-
  let footerDescription = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
  
  let footerLinks = []
  let footerNavigation = {title: "навигация"}
  footerLinks.push("О нас")
  footerLinks.push("Новости")
  footerLinks.push("Служба поддержки")
  footerLinks.push("Услуги")
  footerNavigation.links = footerLinks

  let footerAboutUs = {title: "о нас"}
  footerLinks = []
  footerLinks.push("О сервисе")
  footerLinks.push("Наша команда")
  footerLinks.push("Вакансии")
  footerLinks.push("Инвесторы")
  footerAboutUs.links = footerLinks

  let footerSupport = {title: "служба поддержки"}
  footerLinks = []
  footerLinks.push("Соглашения")
  footerLinks.push("Сообщества")
  footerLinks.push("Связь с нами")
  footerSupport.links = footerLinks

  let footerSubscription = {title: "Подписка"}
  footerSubscription.description = "Получайте специальные предложения и новости сервиса"

  let footerCopyright = "отель. Все права зачищены."


mixin footer({isShort = false, description = footerDescription, navigation = footerNavigation, aboutUs = footerAboutUs, support = footerSupport, subscription = footerSubscription, copyright = footerCopyright } = {})
  if isShort
    .footer.footer_short
      .footer__logo
        +logo({isFull: true})
      p.footer__description.footer__description_short #{description}
      .footer__icons
        a(href = "https://twitter.com/", class = " footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = " footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = " footer__icon footer__icon-instagram")
  else
    .footer.footer_full
      .footer__block
        .footer__logo
          +logo({isFull: true})
        p #{description}
      .footer__menu
        +footer-menu-block(navigation)
        +footer-menu-block(aboutUs)
        +footer-menu-block(support)
      .footer__block.footer__block-subscription
        h3.footer__block-title #{subscription.title}
        p #{subscription.description}
        +subscription-field()
    .footer__copyright
      p.footer__copyright-text Copyright © 2018 Toxin #{copyright}
      .footer__icons
        a(href = "https://twitter.com/", class = " footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = " footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = " footer__icon footer__icon-instagram")