include ../../_formElements/_dateDropdown/_dateDropdown
include ../../_formElements/_dropdown/dropdown
include ../../_formElements/_buttons/_button/_button

mixin exclamation
    .booking--exclamation
        h3 i

//- apartNumber - номер аппартамента (выводится как № 123 в тегах h1)
//- price - стоимость за одни сутки пребывания в аппартаментах
//- isLux - true - после № 123 Люкс, false - просто № 123
//- discount - скидка
//- additional - сборы
//- complementary - доп. сборы

mixin booking(options)
    -
        var flagDiscount = options.discount != undefined ? true : false
        var flagComplementary = options.complementary != undefined ? true : false
        var additional = options.additional != undefined ? options.additional : "0"
    .booking--container    
        .booking--header
            div
                h1="№ "
                h1=options.apartNumber
                if options.isLux
                    h3 люкс
            span
                b(id="booking--price")= options.price
                b="₽ "
                | в сутки
        .booking--dateOfStay
            +dateDropdown("прибытие", "выезд", "booking")
        .booking--guests
            h3.label гости
            +dropdown(true)
        .booking--calculation
            .booking--calcLine
                p
                    span(id="booking--priceCalc")=options.price + "₽ X "
                    span(id="booking--daysOfStay")="0 суток"
                span(id="booking--cost")="0₽"
            .booking--calcLine
                span="Сбор за услуги: "
                    if flagDiscount
                        span="скидка "
                        span(id="booking--discount")=options.discount
                        span="₽"
                div
                    +exclamation
                    span(id="booking--additional")=additional + "₽"
            .booking--calcLine
                pre
                    | Сбор за дополнительные
                    | услуги
                div
                    +exclamation
                    if flagComplementary
                        span(id="booking--complementary")=options.complementary + "₽"
                    else
                        span(id="booking--complementary")="0₽"
        .booking--total
            h2="Итого"
            div
            h2(id="booking--total")="0₽"
        .booking--button
            +button({title: "забронировать"})