include ../headline/headline
include ../rate/rate

mixin room({room = '888', isLux = true, price = '9990', rate = 5, comments = 145, currency = '₽', currencyText = 'в сутки', commentText = ['Отзывов', 'Отзыв', 'Отзыва'], luxText = 'люкс', link = '//change-me' } = {})
  -
    const slides = ['', '', '', ''].map( (slide, index) => {
      return `img/img-${room}-${(index + 1)}.jpg`
    })
  .room.js-room
    .room__slider.js-room__slider
      each image, index in slides
        a.room__slider-image(href = link)
          img(src=image, alt=`room-${index+1}`)
    a.room__text(href = link)
      .room__header
        .room__header-title
          h1.room__header-title-text
            span.room__header-number № 
            | #{room}
            if isLux
              span.room__header-lux #{luxText}
        span.room__price-line
          span.room__price.js-room__price #{price}#{currency} 
          | #{currencyText}
      .room__horizontal-line
      .room__rate
        .room__rate-stars
          +rate({rate: rate})
        .room__rate-text-block
          if (comments === 0 || comments >= 5)
            span.room__rate-text.room__rate-text_bold #{comments} 
            | #{commentText[0]}
          if (comments === 1)
            span.room__rate-text.room__rate-text_bold #{comments} 
            | #{commentText[1]}
          if (comments > 1 && comments < 5)
            span.room__rate-text.room__rate-text_bold #{comments} 
            | #{commentText[2]}